<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo App & Assignees</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>

<h1>Add new assignee</h1>

<!--
<form action="/assignee/add" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Agi"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" placeholder="abc@abcmail.com">
    <button type="submit">Add assignee</button>
</form>
-->

<form th:action="@{/assignee/add}" th:method="POST" th:object="${assignee}">
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" placeholder="xy"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" th:field="*{email}" placeholder="abc@abcmail.com"><br>
    <button type="submit" class="btn btn-secondary">Add</button><br>
    <a href="/assignee/list">Cancel</a>
</form>

</body>
</html>