<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>

<div class="container">
    <div class="row justify-content-center">
        <h1>TODOS FOR TODAY</h1>
    </div>

    <div class="row justify-content-center">
        <form th:action="@{/todo/list}" th:method="post">
            <label id="searchtext" for="what">Search for todos by:</label>
            <select id="what" name="searchByWHat">
                <option th:value="action">Action</option>
                <option th:value="creationDate">Creation Date</option>
                <option th:value="dueDate">Due Date</option>
                <option th:value="assigneeName">Assignee Name</option>
            </select>
            <input type="search" name="searchedTodo">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>

    <div class="row justify-content-center">
        <a href="/todo/add" class="btn btn-info">Add new todo</a>
        <a href="/assignee/" class="btn btn-info">List of Assignees</a>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
                <th>CREATED</th>
                <th>DUE</th>
                <th>ASSIGNEE</th>
                <th>DELETE</th>
                <th>EDIT</th>
            </tr>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.isDone()}"></td>
                <td th:text="${todo.isUrgent()}"></td>
                <td th:text="${todo.getCreationDate()}"></td>
                <td th:text="${todo.getDueDate()}"></td>
                <td><a th:href="@{'/assignee/assigneetasks/' + ${todo.getAssigneeId()}}"
                       th:text="${todo.getAssigneeName()}"></a></td>
                <td><a th:href="@{'/todo/' + ${todo.getId()} + '/delete'}" class="btn btn-danger">delete</a></td>
                <td><a th:href="@{'/todo/' + ${todo.getId()} + '/edit'}" class="btn btn-primary">edit</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>